html {
  height: 100%; 
  margin-bottom: 1px; 
  overflow-y: scroll;
}
body {
  color: #585858;
  background-color: #fff;
  font-family: “Georgia”, serif;
}
h1 {
  font-size: 40px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CCC;
}
h1 small {
  font-size: 20px;
  padding-left: 10px;
}
h2, h3 {
  margin-bottom: 5px;
}
p {
  margin-top: 5px;
}
pre {
  background-color: #F6F6F6;
}
nav {
  font-size: 20px;
}
nav a {
  margin-right: 20px;
}
a{
  color: #C30C0C;
  text-decoration: none;
}
a:hover {
  color: #333;
}
#container {
  margin: 0 auto;
  width: 960px;
}
#options {
  list-style: none;
  padding-left: 0px;
}
#options li {
  margin-bottom: 10px;
}
