body {
  color: #585858;
  background-color: #fff;
  font-family:Tahoma,Century gothic, Arial,Tahoma,sans-serif;
}
h1 {
  font-size: 40px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CCC;
}
h1 small {
  font-size: 20px;
}
nav {
  font-size: 20px;
}
nav a {
  margin-right: 20px;
}
a{
  color: #C30C0C;
  text-decoration: none;
}
a:hover {
  color: #333;
}
#container {
  margin: 0 auto;
  width: 960px;
}
